* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
body {
    background-color: #fff;
    font: 12px/1.5 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', \\5B8B\4F53, sans-serif;
    color: #666;
}
.w {
	width: 1200px;
    margin: auto;
    margin-top: 70px;
}

.pre-img {
    float: left;
    height: 370px;
    border: 1px solid #ccc;
}
img {
    border: 0;
    vertical-align: middle;
}
.item-if {
     float: right; 
    width: 800px;
   height: 500px;
}
.item-name {
    height: 30px;
    font-size: 16px;
    font-weight: 700;
}
.summary dl {
    overflow: hidden;
}
.summary dt {
    width: 60px;
    padding-top: 5px;
    padding-left: 10px;
    line-height: 36px;
}
.summary dt, .summary dd {
    float: left;
}
dd {
    display: block;
    margin-inline-start: 15px;
}
.details {
    margin-bottom: 50px;
}
.summaryprice {
    position: relative;
    padding: 10px 0;
    background-color: #fee9eb;
}
.price {
    font-size: 24px;
    color: #e12228;
}
.summaryprice a {
    margin-left: 15px;
    color: #c81623;
}
.remark {
    position: absolute;
    right: 10px;
    top: 20px;
}
.choosenum {
    position: relative;
    float: left;
    width: 50px;
    height: 46px;
}
.choose-btn {
    margin-top: 50px;
}
.choosenum input {
    width: 33px;
    height: 44px;
    border: 1px solid #ccc;
    text-align: center;
}
.add {
    top: 0;
}
.red {
    bottom: 0;
    cursor: not-allowed;
}
.add, .red {
    position: absolute;
    right: 0;
    width: 15px;
    height: 22px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    text-align: center;
    line-height: 22px;
}
.addcar, 
.buynow {
    float: left;
    width: 142px;
    height: 46px;
    background-color: #c81623;
    text-align: center;
    line-height: 46px;
    font-size: 18px;
    color: #fff;
    margin-left: 10px;
    font-weight: 700;
}
.buynow {
    color: #FF0036;
    background-color: rgb(248, 238, 238);
}
a {
    color: #666;
    text-decoration: none;
}

.detail-tab {
    height: 39px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.details {
    display: inline-block;
    margin-top: 10px;
    width: 550px;
}
.shop {
    float: left;
    border: 1px solid #e5e5e5;
    /* padding: 0 0 15px; */
    margin: auto;
}
.detail-tab .current {
    background-color: #c81623;
    color: #fff;
}
.detail-tab li {
    float: left;
    height: 39px;
    line-height: 39px;
    padding: 0 20px;
    text-align: center;
    cursor: pointer;
}

.shopname {
    padding: 0 0 0 15px;
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #e5e5e5;
    background-color: rgb(250,250,250);
}